upstream {{ upstream_name }} {
  server {{ app_server_private_ip }}:{{ gunicorn_port }};
  }
  server {
    listen 80;
    server_name: _;

    location / {
      proxy_pass http://{{ upstream_name }};
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-Proto $scheme;
    }
  }


